<div id="members">
    <div class="container">
        <div class="title">
            <span style="text-transform: uppercase; font-weight: bold; color: #64748b;">Memeber matching</span> <span style="font-weight: bold;">@haind</span>
        </div>
        <div class="items items--active">
            <img class="_avatarHoverTip avatarSmall _avatar _avatarAid6772178" data-aid="6772178" src="https://appdata.chatwork.com/avatar/OqaEVl0mq6.rsz.jpg" data-testid="" /><span style="margin-left: 8px;">haind@hblab.vn</span>
        </div>
        <div class="items">
            <img class="_avatarHoverTip avatarSmall _avatar _avatarAid6772178" data-aid="6772178" src="https://appdata.chatwork.com/avatar/OqaEVl0mq6.rsz.jpg" data-testid="" /><span style="margin-left: 8px;">haind@hblab.vn</span>
        </div>
        <div class="items">
            <img class="_avatarHoverTip avatarSmall _avatar _avatarAid6772178" data-aid="6772178" src="https://appdata.chatwork.com/avatar/OqaEVl0mq6.rsz.jpg" data-testid="" /><span style="margin-left: 8px;">haind@hblab.vn</span>
        </div>
        <div class="items">
            <img class="_avatarHoverTip avatarSmall _avatar _avatarAid6772178" data-aid="6772178" src="https://appdata.chatwork.com/avatar/OqaEVl0mq6.rsz.jpg" data-testid="" /><span style="margin-left: 8px;">haind@hblab.vn</span>
        </div>
        <div class="items">
            <img class="_avatarHoverTip avatarSmall _avatar _avatarAid6772178" data-aid="6772178" src="https://appdata.chatwork.com/avatar/OqaEVl0mq6.rsz.jpg" data-testid="" /><span style="margin-left: 8px;">haind@hblab.vn</span>
        </div>
        <div class="items">
            <img class="_avatarHoverTip avatarSmall _avatar _avatarAid6772178" data-aid="6772178" src="https://appdata.chatwork.com/avatar/OqaEVl0mq6.rsz.jpg" data-testid="" /><span style="margin-left: 8px;">haind@hblab.vn</span>
        </div>
        <div class="items">
            <img class="_avatarHoverTip avatarSmall _avatar _avatarAid6772178" data-aid="6772178" src="https://appdata.chatwork.com/avatar/OqaEVl0mq6.rsz.jpg" data-testid="" /><span style="margin-left: 8px;">haind@hblab.vn</span>
        </div>
        <div class="items">
            <img class="_avatarHoverTip avatarSmall _avatar _avatarAid6772178" data-aid="6772178" src="https://appdata.chatwork.com/avatar/OqaEVl0mq6.rsz.jpg" data-testid="" /><span style="margin-left: 8px;">haind@hblab.vn</span>
        </div>
    </div>
</div>
<style>
#members {
    color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 999;
    width: 100%;
}

#members .container {
    margin: 8px 12px;
    background: #0d1723;
    border-radius: 5px;
    padding: 10px 8px;
}

#members .title {
    padding: 5px;
    margin-bottom: 7px;
}

#members .items {
    padding: 8px;
    border-radius: 5px;
}

#members .items--active {
    background: #0a275a;
    border: 1px solid #6b83a8;
}
</style>